@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p>This is About page modified - 1</p>
<p>This is About page modified - 2</p>
<p>This is About page modified - 3</p>
<p>This is About page modified - 4</p>
<p>This is About page modified - 5</p>
<p>This is About page modified - 6</p>
<p>This is About page modified - 7</p>
<p>This is About page modified - 8</p>